body {
  background: whitesmoke;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body .principal-container {
  margin: 0;
}

body .principal-container #first-section {
  padding-top: 10rem;
}

body .principal-container #testimonial {
  background: #cccccc;
  padding: 50px 0 30px 0;
  text-align: center;
  margin-top: 40px;
}

body .principal-container #info-one {
  margin-bottom: 4%;
}

body .principal-container .container {
  margin: 0 auto;
}

body .principal-container .header {
  background: #333;
  color: white;
  padding: 2rem 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
}

body .principal-container .header a {
  color: white;
  text-decoration: none;
}

body .principal-container .logo-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .principal-container .logo-nav-container .logo {
  letter-spacing: 15px;
  font-size: 1.4em;
}

body .principal-container .logo-nav-container .menu-icon {
  display: none;
  padding: 0.5rem 1rem;
}

body .principal-container .navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body .principal-container .navigation ul li {
  display: inline-block;
}

body .principal-container .navigation ul li a {
  display: block;
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  border-radius: 5px;
}

body .principal-container .navigation ul li a:hover {
  background: #4a4a4a;
}

body .principal-container #important-info ul {
  list-style: none;
  text-align: left;
}

body .principal-container #important-info ul li {
  padding: 0.5rem;
}

body .principal-container #important-info ul li i {
  margin-right: 5px;
  text-align: center;
}

body .principal-container #button-import {
  color: #f86262;
}

body .principal-container #button-import:hover {
  color: white;
  background: black;
}

body .principal-container .pie {
  background: #333;
  padding: 10px;
  width: auto;
  text-align: center;
  margin: 0;
}

body .principal-container .pie a {
  color: white;
  font-size: 90%;
  text-decoration: none;
}

body .principal-container .contact-icons {
  background: #333;
  padding: 5px;
  width: auto;
  text-align: center;
}

body .principal-container .contact-icons a {
  text-decoration: none;
  display: inline-block;
  margin-right: 1%;
}

body .principal-container .contact-icons i {
  width: auto;
  color: #cccccc;
  font-size: 23px;
  padding: 2px;
  margin-top: 0.5rem;
}

body .principal-container .contact-icons i:hover {
  color: lightgreen;
}

body .principal-container #contact {
  margin-top: 6rem;
  background: url(../img/que-ver-en-gran-canaria.jpg) no-repeat;
  background-size: cover;
}

body .principal-container #h2-aux {
  display: none;
}

body .principal-container .fotos {
  width: 1100px;
  text-align: left;
}

/* ------------------STYLES FOR SMARTPHONE------------------ */
@media (max-width: 800px) {
  body .principal-container h1 {
    font-size: 30px;
  }
  body .principal-container h2 {
    font-size: 25px;
  }
  body .principal-container p {
    font-size: 15px;
  }
  body .principal-container img {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  body .principal-container #testimonial {
    text-align: justify;
  }
  body .principal-container #first-section {
    padding-top: 5rem;
  }
  body .principal-container .logo-nav-container .menu-icon {
    display: block;
    cursor: pointer;
    color: white;
  }
  body .principal-container .logo-nav-container .logo {
    letter-spacing: 8px;
    font-size: 1.2em;
  }
  body .principal-container .navigation {
    width: 100%;
    margin-top: 1rem;
  }
  body .principal-container .navigation ul {
    display: none;
  }
  body .principal-container .navigation ul li {
    display: block;
  }
  body .principal-container .navigation ul li a {
    display: block;
    padding: 0.5rem 0;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    border-radius: 5px;
  }
  body .principal-container .navigation ul li a:hover {
    background: #4a4a4a;
  }
  body .principal-container .navigation ul.show {
    display: block;
  }
  body .principal-container .pie a {
    font-size: 12px;
  }
  body .principal-container #contact-mail {
    margin-top: 6rem;
  }
  body .principal-container .contact-icons i {
    padding: 5px;
  }
  body .principal-container #h2-aux {
    display: block;
    color: #333;
    font-weight: bold;
    text-align: center;
  }
}
/*# sourceMappingURL=stylesheet.css.map */